@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 275 100% 10%;
    --card: 240 67% 98%;
    --card-foreground: 275 100% 10%;
    --popover: 240 67% 98%;
    --popover-foreground: 275 100% 10%;
    --primary: 275 100% 25%;
    --primary-foreground: 240 67% 98%;
    --secondary: 275 20% 90%;
    --secondary-foreground: 275 100% 25%;
    --muted: 275 20% 90%;
    --muted-foreground: 275 20% 40%;
    --accent: 351 31% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 20% 85%;
    --input: 275 20% 90%;
    --ring: 351 31% 57%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 275 10% 10%;
    --foreground: 240 67% 94%;
    --card: 275 10% 12%;
    --card-foreground: 240 67% 94%;
    --popover: 275 10% 12%;
    --popover-foreground: 240 67% 94%;
    --primary: 240 67% 94%;
    --primary-foreground: 275 100% 25%;
    --secondary: 275 10% 20%;
    --secondary-foreground: 240 67% 94%;
    --muted: 275 10% 20%;
    --muted-foreground: 240 20% 60%;
    --accent: 351 31% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 10% 25%;
    --input: 275 10% 25%;
    --ring: 351 31% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}